@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Lato:wght@700&display=swap');


//colors
    $color-magenta: #6465a5;
    $color-magentaBlue: #6975a6;
    $color-yellow: #f3e96b;
    $color-orange: #f28a30;
    $color-red: #f05837;
//fonts

    $font-Inter: "Inter";
    $font-Lato: "Lato";
